# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea/.gitignore
.idea/checkstyle-idea.xml
.idea/codeStyles/
.idea/gradle.xml
.idea/markdown-navigator-enh.xml
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules/
